In [51]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# 6.1.5 Xgboost의 매개변수와 튜닝

## 1. 데이터 불러오기

### 참고자료
- [Titatic dataset 활용한 Xgboost 하이퍼 파라미터 튜닝](https://www.kaggle.com/lifesailor/xgboost/notebook)

In [52]:
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import metrics   #Additional scklearn functions
from sklearn.model_selection import GridSearchCV   #Perforing grid search

import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

In [61]:
train_file_path = '/content/gdrive/MyDrive/Data Analysis/kaggle/data/titanic/train.csv'
test_file_path = '/content/gdrive/MyDrive/Data Analysis/kaggle/data/titanic/test.csv'

In [62]:
train = pd.read_csv(train_file_path)
test = pd.read_csv(test_file_path)

In [63]:
print(train.shape)
train.head()

(891, 12)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [64]:
print(test.shape)
test.head()

(418, 11)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

## 2. 데이터 전처리

In [65]:
# 처리하기 복잡한 Column은 제거
del train['Ticket']; del test['Ticket']
del train['Cabin']; del test['Cabin']
del train['Name']; del test['Name']

In [66]:
# train, test에 다른 Category 존재 가능
test.insert(loc=1, column='Survived', value=0)  # 코드를 넣어준 이유는?

In [68]:
# train, test 
total = pd.concat([train, test], axis=0)

In [70]:
# One hot encoding
sex = pd.get_dummies(total['Sex'])
embarked = pd.get_dummies(total['Embarked'])

In [71]:
# 기존 컬럼 제거
del total['Sex']
del total['Embarked']

In [72]:
total = pd.concat([total, sex, embarked], axis=1)
total['Family'] = total['Parch'] + total['SibSp']

In [73]:
# one hot 컬럼이 있는 train, test 
train = total[0:len(train)]
test = total[len(train):]

In [74]:
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  ...  male  C  Q  S  Family
0            1         0       3  22.0      1  ...     1  0  0  1       1
1            2         1       1  38.0      1  ...     0  1  0  0       1
2            3         1       3  26.0      0  ...     0  0  0  1       0
3            4         1       1  35.0      1  ...     0  0  0  1       1
4            5         0       3  35.0      0  ...     1  0  0  1       0

[5 rows x 13 columns]

In [75]:
test.head()

   PassengerId  Survived  Pclass   Age  SibSp  ...  male  C  Q  S  Family
0          892         0       3  34.5      0  ...     1  0  1  0       0
1          893         0       3  47.0      1  ...     0  0  0  1       1
2          894         0       2  62.0      0  ...     1  0  1  0       0
3          895         0       3  27.0      0  ...     1  0  0  1       0
4          896         0       3  22.0      1  ...     0  0  0  1       2

[5 rows x 13 columns]

## 3. 예측 모델 함수 생성

In [77]:
target = 'Survived'
IDcol = 'PassengerId'

In [79]:
def modelfit(alg, dtrain, predictors,useTrainCV=True, cv_folds=5, early_stopping_rounds=100):
   
    # get new n_estimator
    if useTrainCV:
        xgb_param = alg.get_xgb_params()
        xgtrain = xgb.DMatrix(dtrain[predictors].values, label=dtrain[target].values)
        cvresult = xgb.cv(xgb_param, xgtrain, num_boost_round=alg.get_params()['n_estimators'], nfold=cv_folds,
                          metrics='error', early_stopping_rounds=early_stopping_rounds)
        alg.set_params(n_estimators=cvresult.shape[0])
        print(alg)
    
    # Fit the algorithm on the data
    alg.fit(dtrain[predictors], dtrain['Survived'], eval_metric='error')
        
    #Predict training set:
    dtrain_predictions = alg.predict(dtrain[predictors])
    dtrain_predprob = alg.predict_proba(dtrain[predictors])[:,1]
        
    #Print model report:
    print("\nModel Report")
    print("Training Accuracy : %.4g" % metrics.accuracy_score(dtrain['Survived'].values, dtrain_predictions))

## 4. 일반적인 Hyperparameter 튜닝 방법
1. high learning rate(0.05 - 0.3)를 선택하고 이 학습률에 맞는 tree 개수를 선정한다. 책에서는 0.1 정도의 약간 큰 값으로 두었다가 세세한 모델 성능을 향상을 위해서는 0.01~0.05로 작게 줄이는 것을 추천한다.

2. tree-specific parameter를 수정한다. (max_depth, min_child_weight, gamma, subsample, colsample_bytree)

4. regularization parameter를 수정한다.

5. 학습률을 낮추고 다시 반복한다.

### 참고자료 
- [[파이썬 머신러닝 완벽 가이드] XGBoost 하이퍼 파라미터 정리](https://dsbook.tistory.com/172)
- [[교재 P.340] PARAMETERS](https://sites.google.com/view/lauraepp/parameters)
- [[교재 P.343~344] Complete Guide to Parameter Tuning in XGBoost with codes in Python](https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/)

### Learning rate와 estimator 수를 고정한다.
초기값은 다음과 같이 선정한다.

1. max_depth = 5: 보통 4-6 를 시작점으로 한다.

2. min_child_weight = 1 : 향후에 튜닝할 것이다.

3. gamma = 0 : 0.1 - 0.2로 시작해도 된다. 그런데 어짜피 튜닝할 것이다.

4. subsample, colsample_bytree = 0.8 : 보통 0.5 - 0.9로 시작한다.

5. scale_pos_weight = 1: Because of high class imbalance.

In [82]:
predictors = [x for x in train.columns if x not in [target, IDcol]]
xgb1 = XGBClassifier(
    learning_rate =0.1,
    n_estimators=1000,
    max_depth=5,  # Tree 깊이 수
    min_child_weight=1,  
    gamma=0,  # 결정트리를 split하기 위해 최소한으로 줄어햐는 loss 값
    subsample=0.8,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread=-1,
    scale_pos_weight=1,
    seed=2019
)
modelfit(xgb1, train, predictors)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=89, n_jobs=1,
              nthread=-1, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=2019,
              silent=None, subsample=0.8, verbosity=1)

Model Report
Training Accuracy : 0.9068

### max_depth와 min_child_weight를 튜닝한다.

In [83]:
param_test1 = {
 'max_depth':range(3,10,3),  # max_depth : 3,6,9
 'min_child_weight':range(1,6,2)  # min_child_weight : 1,3,5
}
gsearch1 = GridSearchCV(estimator = XGBClassifier(learning_rate=0.1, 
                                                  n_estimators=1000, 
                                                  max_depth=5, 
                                                  min_child_weight=1, 
                                                  gamma=0, 
                                                  subsample=0.8, 
                                                  colsample_bytree=0.8,
                                                  objective= 'binary:logistic', 
                                                  nthread=-1, 
                                                  scale_pos_weight=1, seed=2019),
param_grid = param_test1, scoring='accuracy',n_jobs=-1,iid=False, cv=5, verbose=10)
gsearch1.fit(train[predictors],train[target])
gsearch1.cv_results_, gsearch1.best_params_, gsearch1.best_score_

Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.1s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    4.8s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    6.3s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   18.2s
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:   21.8s finished
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

({'mean_fit_time': array([0.68301687, 0.64508514, 0.64063148, 1.03520069, 0.9458231 ,
         0.87879896, 1.17142749, 0.99922757, 0.83963957]),
  'mean_score_time': array([0.01314387, 0.01244397, 0.01185179, 0.01927223, 0.01755843,
         0.01532421, 0.02078071, 0.01776881, 0.01494603]),
  'mean_test_score': array([0.81934593, 0.8260875 , 0.83614965, 0.80810997, 0.81259808,
         0.84176135, 0.80473919, 0.81483272, 0.83839684]),
  'param_max_depth': masked_array(data=[3, 3, 3, 6, 6, 6, 9, 9, 9],
               mask=[False, False, False, False, False, False, False, False,
                     False],
         fill_value='?',
              dtype=object),
  'param_min_child_weight': masked_array(data=[1, 3, 5, 1, 3, 5, 1, 3, 5],
               mask=[False, False, False, False, False, False, False, False,
                     False],
         fill_value='?',
              dtype=object),
  'params': [{'max_depth': 3, 'min_child_weight': 1},
   {'max_depth': 3, 'min_child_weight': 3},
   {'max_depth': 3, 'min_child_weight': 5},
   {'max_depth': 6, 'min_child_weight': 1},
   {'max_depth': 6, 'min_child_weight': 3},
   {'max_depth': 6, 'min_child_weight': 5},
   {'max_depth': 9, 'min_child_weight': 1},
   {'max_depth': 9, 'min_child_weight': 3},
   {'max_depth': 9, 'min_child_weight': 5}],
  'rank_test_score': array([5, 4, 3, 8, 7, 1, 9, 6, 2], dtype=int32),
  'split0_test_score': array([0.78212291, 0.78212291, 0.82681564, 0.78212291, 0.7877095 ,
         0.83240223, 0.78212291, 0.79888268, 0.82681564]),
  'split1_test_score': array([0.81460674, 0.82022472, 0.8258427 , 0.81460674, 0.8258427 ,
         0.83146067, 0.80898876, 0.81460674, 0.82022472]),
  'split2_test_score': array([0.86516854, 0.85955056, 0.86516854, 0.83707865, 0.83707865,
         0.86516854, 0.83707865, 0.84831461, 0.85393258]),
  'split3_test_score': array([0.78089888, 0.82022472, 0.8258427 , 0.79775281, 0.76966292,
         0.83146067, 0.7752809 , 0.76966292, 0.83707865]),
  'split4_test_score': array([0.85393258, 0.84831461, 0.83707865, 0.80898876, 0.84269663,
         0.84831461, 0.82022472, 0.84269663, 0.85393258]),
  'std_fit_time': array([0.02627945, 0.01165975, 0.00628526, 0.01621814, 0.00406183,
         0.02023137, 0.01374079, 0.01129395, 0.08242085]),
  'std_score_time': array([0.00229718, 0.0015685 , 0.00010132, 0.00035398, 0.00022238,
         0.00043435, 0.0006792 , 0.00043661, 0.00158789]),
  'std_test_score': array([0.03516287, 0.02689034, 0.01511654, 0.01824699, 0.02878719,
         0.01334648, 0.02316458, 0.02895583, 0.01377539])},
 {'max_depth': 6, 'min_child_weight': 5},
 0.8417613458037788)

### Gamma를 튜닝한다.

In [84]:
param_test2 = {
 'gamma':[i/10.0 for i in range(0,5)]  # gamma 값 : 0 ~ 0.4
}
gsearch2 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, 
                                                  n_estimators=1000, 
                                                  max_depth=3,
                                                  min_child_weight=5, 
                                                  gamma=0, 
                                                  subsample=0.8, 
                                                  colsample_bytree=0.8,
                                                  objective= 'binary:logistic', 
                                                  thread=-1, 
                                                  scale_pos_weight=1,
                                                  seed=2019), 
                        param_grid = param_test2, scoring='accuracy', n_jobs=-1, iid=False, cv=5)
gsearch2.fit(train[predictors],train[target])
gsearch2.cv_results_, gsearch2.best_params_, gsearch2.best_score_

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

({'mean_fit_time': array([0.65210218, 0.64534311, 0.63520217, 0.63858113, 0.61695189]),
  'mean_score_time': array([0.01335659, 0.01396918, 0.01369114, 0.01214309, 0.01155682]),
  'mean_test_score': array([0.83614965, 0.83278514, 0.8361622 , 0.83840939, 0.83614965]),
  'param_gamma': masked_array(data=[0.0, 0.1, 0.2, 0.3, 0.4],
               mask=[False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'gamma': 0.0},
   {'gamma': 0.1},
   {'gamma': 0.2},
   {'gamma': 0.3},
   {'gamma': 0.4}],
  'rank_test_score': array([3, 5, 2, 1, 3], dtype=int32),
  'split0_test_score': array([0.82681564, 0.82122905, 0.81564246, 0.81564246, 0.82681564]),
  'split1_test_score': array([0.8258427 , 0.80898876, 0.8258427 , 0.82022472, 0.82022472]),
  'split2_test_score': array([0.86516854, 0.85393258, 0.85955056, 0.87078652, 0.86516854]),
  'split3_test_score': array([0.8258427 , 0.83707865, 0.83707865, 0.83707865, 0.83146067]),
  'split4_test_score': array([0.83707865, 0.84269663, 0.84269663, 0.84831461, 0.83707865]),
  'std_fit_time': array([0.01190236, 0.01398196, 0.00526916, 0.01181439, 0.082742  ]),
  'std_score_time': array([1.08266415e-03, 2.50660377e-03, 2.16175084e-03, 3.71772169e-05,
         1.33706349e-03]),
  'std_test_score': array([0.01511654, 0.01589778, 0.01495397, 0.01998588, 0.01552851])},
 {'gamma': 0.3},
 0.8384093904965162)

### subsample and colsample_bytree를 튜닝한다.

In [85]:
param_test3 = {
 'subsample':[i/10.0 for i in range(6,10)],  # sumsample : 0.6 ~ 0.9
 'colsample_bytree':[i/10.0 for i in range(6,10)]  # colsample_bytreee : 0.6 ~ 0.9
}
gsearch3 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, 
                                                  n_estimators=1000, 
                                                  max_depth=3,
                                                  min_child_weight=5, 
                                                  gamma=0, 
                                                  subsample=0.8, 
                                                  colsample_bytree=0.8,
                                                  objective= 'binary:logistic', 
                                                  thread=-1, 
                                                  scale_pos_weight=1,
                                                  seed=2019), 
                        param_grid = param_test3, scoring='accuracy', n_jobs=-1, iid=False, cv=5, verbose=10)
gsearch3.fit(train[predictors],train[target])
gsearch3.cv_results_, gsearch3.best_params_, gsearch3.best_score_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   14.8s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:   18.8s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   22.4s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:   26.5s finished
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

({'mean_fit_time': array([0.63207078, 0.61225033, 0.59750051, 0.59082613, 0.6418448 ,
         0.62956414, 0.62030816, 0.59811621, 0.6722909 , 0.66615238,
         0.63720217, 0.62892957, 0.6975903 , 0.69148521, 0.67418766,
         0.65685024]),
  'mean_score_time': array([0.01323066, 0.01366973, 0.0133647 , 0.01307411, 0.01357274,
         0.01310215, 0.01369052, 0.01413774, 0.01234255, 0.01284728,
         0.01273198, 0.01245623, 0.01260357, 0.01287141, 0.01290121,
         0.01204438]),
  'mean_test_score': array([0.84288494, 0.8361622 , 0.83614965, 0.84063775, 0.8395016 ,
         0.83953926, 0.83616848, 0.84287866, 0.83839684, 0.83616848,
         0.83614965, 0.84176135, 0.83727952, 0.83391501, 0.83279141,
         0.83054422]),
  'param_colsample_bytree': masked_array(data=[0.6, 0.6, 0.6, 0.6, 0.7, 0.7, 0.7, 0.7, 0.8, 0.8, 0.8,
                     0.8, 0.9, 0.9, 0.9, 0.9],
               mask=[False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'param_subsample': masked_array(data=[0.6, 0.7, 0.8, 0.9, 0.6, 0.7, 0.8, 0.9, 0.6, 0.7, 0.8,
                     0.9, 0.6, 0.7, 0.8, 0.9],
               mask=[False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'colsample_bytree': 0.6, 'subsample': 0.6},
   {'colsample_bytree': 0.6, 'subsample': 0.7},
   {'colsample_bytree': 0.6, 'subsample': 0.8},
   {'colsample_bytree': 0.6, 'subsample': 0.9},
   {'colsample_bytree': 0.7, 'subsample': 0.6},
   {'colsample_bytree': 0.7, 'subsample': 0.7},
   {'colsample_bytree': 0.7, 'subsample': 0.8},
   {'colsample_bytree': 0.7, 'subsample': 0.9},
   {'colsample_bytree': 0.8, 'subsample': 0.6},
   {'colsample_bytree': 0.8, 'subsample': 0.7},
   {'colsample_bytree': 0.8, 'subsample': 0.8},
   {'colsample_bytree': 0.8, 'subsample': 0.9},
   {'colsample_bytree': 0.9, 'subsample': 0.6},
   {'colsample_bytree': 0.9, 'subsample': 0.7},
   {'colsample_bytree': 0.9, 'subsample': 0.8},
   {'colsample_bytree': 0.9, 'subsample': 0.9}],
  'rank_test_score': array([ 1, 11, 12,  4,  6,  5,  9,  2,  7, 10, 12,  3,  8, 14, 15, 16],
        dtype=int32),
  'split0_test_score': array([0.83240223, 0.81564246, 0.82681564, 0.83240223, 0.84357542,
         0.81005587, 0.81005587, 0.83798883, 0.82681564, 0.81005587,
         0.82681564, 0.83240223, 0.82122905, 0.81564246, 0.81564246,
         0.81564246]),
  'split1_test_score': array([0.83707865, 0.8258427 , 0.83146067, 0.82022472, 0.82022472,
         0.83146067, 0.82022472, 0.82022472, 0.83146067, 0.8258427 ,
         0.8258427 , 0.83146067, 0.8258427 , 0.83146067, 0.82022472,
         0.82022472]),
  'split2_test_score': array([0.87078652, 0.87078652, 0.87078652, 0.87640449, 0.85955056,
         0.87078652, 0.87640449, 0.87078652, 0.88202247, 0.86516854,
         0.86516854, 0.87640449, 0.85955056, 0.85955056, 0.86516854,
         0.85393258]),
  'split3_test_score': array([0.84269663, 0.83146067, 0.82022472, 0.83707865, 0.83707865,
         0.83707865, 0.83146067, 0.83707865, 0.8258427 , 0.83707865,
         0.8258427 , 0.83707865, 0.83707865, 0.83146067, 0.82022472,
         0.82022472]),
  'split4_test_score': array([0.83146067, 0.83707865, 0.83146067, 0.83707865, 0.83707865,
         0.84831461, 0.84269663, 0.84831461, 0.8258427 , 0.84269663,
         0.83707865, 0.83146067, 0.84269663, 0.83146067, 0.84269663,
         0.84269663]),
  'std_fit_time': array([0.01168276, 0.01041612, 0.01715648, 0.02279172, 0.00678027,
         0.0035906 , 0.00779661, 0.00662819, 0.01456664, 0.01201281,
         0.00623606, 0.0109388 , 0.01454903, 0.00573611, 0.00718352,
         0.00597662]),
  'std_score_time': array([0.00084521, 0.00118978, 0.0011924 , 0.00048944, 0.00074964,
         0.00026556, 0.0019425 , 0.00183912, 0.00011699, 0.0004412 ,
         0.00056998, 0.00018071, 0.00026771, 0.0003382 , 0.00020213,
         0.00152899]),
  'std_test_score': array([0.01450963, 0.01870476, 0.01780119, 0.01891618, 0.01266409,
         0.01996991, 0.02289013, 0.01660813, 0.02191184, 0.01829174,
         0.01511654, 0.01744635, 0.0135189 , 0.01420661, 0.01874205,
         0.01503159])},
 {'colsample_bytree': 0.6, 'subsample': 0.6},
 0.8428849413093967)

### subsample 추가 튜닝하기

In [86]:
param_test4 = {
 'subsample':[i/100.0 for i in range(40,80)],  # subsample : 0.4 ~ 0.79
}
gsearch4 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, 
                                                  n_estimators=1000, 
                                                  max_depth=3,
                                                  min_child_weight=5, 
                                                  gamma=0, 
                                                  subsample=0.6, 
                                                  colsample_bytree=0.8,
                                                  objective= 'binary:logistic', 
                                                  thread=-1, 
                                                  scale_pos_weight=1,
                                                  seed=2019), 
                        param_grid = param_test4, scoring='accuracy', n_jobs=-1, iid=False, cv=5, verbose=10)
gsearch4.fit(train[predictors],train[target])
gsearch4.cv_results_, gsearch4.best_params_, gsearch4.best_score_

Fitting 5 folds for each of 40 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    4.7s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    7.2s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   12.6s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   15.4s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:   19.4s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   22.9s
[Parallel(n_jobs=-1)]: Done  81 tasks      | elapsed:   27.6s
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:   31.8s
[Parallel(n_jobs=-1)]: Done 109 tasks      | elapsed:   37.3s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:   42.1s
[Parallel(n_jobs=-1)]: Done 141 tasks      | elapsed:   48.2s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:   53.7s
[Parallel(n_jobs=-1)]: Done 177 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  1.1min finished
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

({'mean_fit_time': array([0.65946054, 0.64522891, 0.62911272, 0.63532696, 0.63639398,
         0.65145659, 0.64921837, 0.65104561, 0.65007119, 0.66097693,
         0.65823164, 0.67084284, 0.65685506, 0.66359406, 0.66789637,
         0.6639173 , 0.6683116 , 0.67224703, 0.66379995, 0.66279116,
         0.66514497, 0.6690289 , 0.66643524, 0.66407752, 0.66187081,
         0.6621335 , 0.66525922, 0.67085414, 0.65909705, 0.66315789,
         0.65126495, 0.65374403, 0.65614033, 0.6507606 , 0.6478888 ,
         0.65571456, 0.6576457 , 0.64710779, 0.64582963, 0.63873701]),
  'mean_score_time': array([0.01234341, 0.01275396, 0.01207848, 0.01490369, 0.01199074,
         0.01236916, 0.01248903, 0.01354685, 0.01257982, 0.01252813,
         0.01251316, 0.0129437 , 0.01280789, 0.01257563, 0.01280451,
         0.01291828, 0.01305971, 0.01320467, 0.01305842, 0.01410842,
         0.01418252, 0.01472464, 0.0126595 , 0.01312318, 0.01297975,
         0.01286564, 0.01299191, 0.01287999, 0.01309476, 0.0128613 ,
         0.01277194, 0.01283226, 0.01325002, 0.01586804, 0.01335282,
         0.01511636, 0.01320524, 0.01305842, 0.01357508, 0.01351237]),
  'mean_test_score': array([0.8406252 , 0.83949532, 0.84398343, 0.83613709, 0.8462369 ,
         0.83951415, 0.83950788, 0.83950788, 0.84510702, 0.84622434,
         0.83837173, 0.84398343, 0.84398971, 0.84287866, 0.84400226,
         0.84511958, 0.8395016 , 0.83727324, 0.83726069, 0.84511958,
         0.83839684, 0.84287866, 0.83840939, 0.83838428, 0.84175507,
         0.83727952, 0.83840311, 0.8417739 , 0.8361622 , 0.83280397,
         0.83616848, 0.83617475, 0.8350386 , 0.8361622 , 0.83952043,
         0.83728579, 0.83727324, 0.84400854, 0.8361622 , 0.83615592]),
  'param_subsample': masked_array(data=[0.4, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48,
                     0.49, 0.5, 0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57,
                     0.58, 0.59, 0.6, 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
                     0.67, 0.68, 0.69, 0.7, 0.71, 0.72, 0.73, 0.74, 0.75,
                     0.76, 0.77, 0.78, 0.79],
               mask=[False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False,
                     False, False, False, False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'subsample': 0.4},
   {'subsample': 0.41},
   {'subsample': 0.42},
   {'subsample': 0.43},
   {'subsample': 0.44},
   {'subsample': 0.45},
   {'subsample': 0.46},
   {'subsample': 0.47},
   {'subsample': 0.48},
   {'subsample': 0.49},
   {'subsample': 0.5},
   {'subsample': 0.51},
   {'subsample': 0.52},
   {'subsample': 0.53},
   {'subsample': 0.54},
   {'subsample': 0.55},
   {'subsample': 0.56},
   {'subsample': 0.57},
   {'subsample': 0.58},
   {'subsample': 0.59},
   {'subsample': 0.6},
   {'subsample': 0.61},
   {'subsample': 0.62},
   {'subsample': 0.63},
   {'subsample': 0.64},
   {'subsample': 0.65},
   {'subsample': 0.66},
   {'subsample': 0.67},
   {'subsample': 0.68},
   {'subsample': 0.69},
   {'subsample': 0.7},
   {'subsample': 0.71},
   {'subsample': 0.72},
   {'subsample': 0.73},
   {'subsample': 0.74},
   {'subsample': 0.75},
   {'subsample': 0.76},
   {'subsample': 0.77},
   {'subsample': 0.78},
   {'subsample': 0.79}],
  'rank_test_score': array([15, 21,  9, 38,  1, 17, 19, 18,  5,  2, 26,  9,  8, 11,  7,  4, 20,
         29, 31,  3, 24, 11, 22, 25, 14, 28, 23, 13, 34, 40, 33, 32, 39, 35,
         16, 27, 29,  6, 35, 37], dtype=int32),
  'split0_test_score': array([0.84357542, 0.84916201, 0.8547486 , 0.83798883, 0.84916201,
         0.83240223, 0.83798883, 0.83798883, 0.8547486 , 0.8603352 ,
         0.84916201, 0.8547486 , 0.84916201, 0.83798883, 0.83798883,
         0.84357542, 0.84357542, 0.82681564, 0.83798883, 0.84357542,
         0.82681564, 0.83798883, 0.81564246, 0.83798883, 0.83798883,
         0.82122905, 0.82122905, 0.82122905, 0.81564246, 0.80446927,
         0.81005587, 0.80446927, 0.81564246, 0.81564246, 0.82681564,
         0.81564246, 0.82681564, 0.83240223, 0.81564246, 0.82122905]),
  'split1_test_score': array([0.82022472, 0.82022472, 0.8258427 , 0.8258427 , 0.83146067,
         0.82022472, 0.8258427 , 0.80898876, 0.83707865, 0.8258427 ,
         0.83146067, 0.83146067, 0.8258427 , 0.8258427 , 0.82022472,
         0.83146067, 0.8258427 , 0.8258427 , 0.83146067, 0.83146067,
         0.83146067, 0.8258427 , 0.82022472, 0.82022472, 0.82022472,
         0.82022472, 0.8258427 , 0.8258427 , 0.83146067, 0.8258427 ,
         0.8258427 , 0.8258427 , 0.82022472, 0.8258427 , 0.83707865,
         0.83707865, 0.8258427 , 0.83146067, 0.83146067, 0.83146067]),
  'split2_test_score': array([0.87078652, 0.87640449, 0.87640449, 0.86516854, 0.88202247,
         0.87640449, 0.87078652, 0.87640449, 0.88202247, 0.87640449,
         0.86516854, 0.87078652, 0.87640449, 0.88202247, 0.88764045,
         0.86516854, 0.85955056, 0.86516854, 0.86516854, 0.87078652,
         0.88202247, 0.86516854, 0.88202247, 0.85955056, 0.87078652,
         0.87640449, 0.86516854, 0.88202247, 0.87078652, 0.87078652,
         0.86516854, 0.87640449, 0.86516854, 0.86516854, 0.87078652,
         0.87078652, 0.86516854, 0.86516854, 0.85393258, 0.86516854]),
  'split3_test_score': array([0.83146067, 0.8258427 , 0.83146067, 0.8258427 , 0.83707865,
         0.83707865, 0.83707865, 0.84831461, 0.83146067, 0.8258427 ,
         0.8258427 , 0.83707865, 0.83707865, 0.83707865, 0.83707865,
         0.84269663, 0.83146067, 0.8258427 , 0.8258427 , 0.8258427 ,
         0.8258427 , 0.83146067, 0.83146067, 0.83707865, 0.83707865,
         0.83146067, 0.83707865, 0.83146067, 0.8258427 , 0.83146067,
         0.83707865, 0.83707865, 0.83707865, 0.83146067, 0.83146067,
         0.83146067, 0.8258427 , 0.83707865, 0.83707865, 0.83146067]),
  'split4_test_score': array([0.83707865, 0.8258427 , 0.83146067, 0.8258427 , 0.83146067,
         0.83146067, 0.8258427 , 0.8258427 , 0.82022472, 0.84269663,
         0.82022472, 0.8258427 , 0.83146067, 0.83146067, 0.83707865,
         0.84269663, 0.83707865, 0.84269663, 0.8258427 , 0.85393258,
         0.8258427 , 0.85393258, 0.84269663, 0.83707865, 0.84269663,
         0.83707865, 0.84269663, 0.84831461, 0.83707865, 0.83146067,
         0.84269663, 0.83707865, 0.83707865, 0.84269663, 0.83146067,
         0.83146067, 0.84269663, 0.85393258, 0.84269663, 0.83146067]),
  'std_fit_time': array([0.01022506, 0.01664234, 0.00508845, 0.00812503, 0.00783113,
         0.01569635, 0.00372142, 0.00814393, 0.0043106 , 0.01110021,
         0.00232021, 0.01990673, 0.00783253, 0.00932085, 0.00982745,
         0.00531366, 0.0128304 , 0.01984845, 0.00929337, 0.01041377,
         0.00625294, 0.01284032, 0.00811633, 0.02118968, 0.00913148,
         0.00931323, 0.00616101, 0.01346199, 0.00818863, 0.01240382,
         0.00477211, 0.0048189 , 0.00683552, 0.00839487, 0.00866496,
         0.01975511, 0.00267172, 0.00650619, 0.0065964 , 0.01148289]),
  'std_score_time': array([5.95048737e-04, 6.45897361e-04, 2.51069793e-04, 5.72390466e-03,
         1.75027715e-04, 2.84654890e-04, 1.30492951e-04, 1.46698828e-03,
         1.77941419e-05, 2.34507496e-04, 8.42468842e-05, 5.95185753e-04,
         2.00365726e-04, 1.41664540e-04, 3.22282379e-04, 6.37714036e-05,
         6.53276106e-04, 9.30980433e-04, 3.58333337e-04, 2.61615069e-03,
         1.15142378e-03, 2.44843289e-03, 1.65914076e-04, 6.07890509e-04,
         1.35932801e-04, 8.98071362e-05, 2.18647438e-04, 1.86377377e-04,
         4.20028625e-04, 2.15036451e-04, 2.10690195e-04, 8.74636340e-05,
         3.56349332e-04, 3.35992931e-03, 2.03957829e-04, 2.83367623e-03,
         3.20541961e-04, 1.25043578e-04, 2.04566920e-04, 3.00544767e-03]),
  'std_test_score': array([0.01691836, 0.02097559, 0.01902493, 0.01525895, 0.01902478,
         0.01925798, 0.01649264, 0.02262468, 0.02156626, 0.01976474,
         0.0165442 , 0.01654011, 0.01795285, 0.02005185, 0.02281095,
         0.01097864, 0.01162454, 0.01535081, 0.01465442, 0.01610596,
         0.02191184, 0.01458446, 0.02373934, 0.01250077, 0.01639098,
         0.02055795, 0.01542264, 0.02211328, 0.01870476, 0.0214364 ,
         0.01829174, 0.02337544, 0.01738849, 0.01693353, 0.01596785,
         0.0182134 , 0.01535081, 0.01331473, 0.01266878, 0.01503782])},
 {'subsample': 0.44},
 0.8462368966166594)

### Regularization Parameter 튜닝

In [87]:
param_test5 = {
 'reg_alpha':[1e-5, 1e-2, 0.1, 1, 100]
}
gsearch5 = GridSearchCV(estimator = XGBClassifier(learning_rate =0.1, 
                                                  n_estimators=1000, 
                                                  max_depth=3,
                                                  min_child_weight=5, 
                                                  gamma=0, 
                                                  subsample=0.67, 
                                                  colsample_bytree=0.8,
                                                  objective= 'binary:logistic', 
                                                  thread=-1, 
                                                  scale_pos_weight=1,
                                                  seed=2019), 
                        param_grid = param_test5, scoring='accuracy', n_jobs=-1, iid=False, cv=5, verbose=10)
gsearch5.fit(train[predictors],train[target])
gsearch5.cv_results_, gsearch5.best_params_, gsearch5.best_score_

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    4.9s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    7.3s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:    8.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:    8.0s finished
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

({'mean_fit_time': array([0.68643203, 0.66904421, 0.6674715 , 0.65801702, 0.37183886]),
  'mean_score_time': array([0.01317825, 0.01405473, 0.01418781, 0.01322808, 0.00428019]),
  'mean_test_score': array([0.8417739 , 0.84514469, 0.84064403, 0.84401481, 0.61616345]),
  'param_reg_alpha': masked_array(data=[1e-05, 0.01, 0.1, 1, 100],
               mask=[False, False, False, False, False],
         fill_value='?',
              dtype=object),
  'params': [{'reg_alpha': 1e-05},
   {'reg_alpha': 0.01},
   {'reg_alpha': 0.1},
   {'reg_alpha': 1},
   {'reg_alpha': 100}],
  'rank_test_score': array([3, 1, 4, 2, 5], dtype=int32),
  'split0_test_score': array([0.82122905, 0.82122905, 0.82681564, 0.82681564, 0.61452514]),
  'split1_test_score': array([0.8258427 , 0.83146067, 0.83146067, 0.83146067, 0.61797753]),
  'split2_test_score': array([0.88202247, 0.88202247, 0.87640449, 0.88202247, 0.61797753]),
  'split3_test_score': array([0.83146067, 0.84269663, 0.83146067, 0.83146067, 0.61797753]),
  'split4_test_score': array([0.84831461, 0.84831461, 0.83707865, 0.84831461, 0.61235955]),
  'std_fit_time': array([0.01688588, 0.01374804, 0.010843  , 0.01031931, 0.05937662]),
  'std_score_time': array([0.00025687, 0.00080005, 0.00048514, 0.00029804, 0.00066504]),
  'std_test_score': array([0.02211328, 0.02066505, 0.01817369, 0.0203671 , 0.00232492])},
 {'reg_alpha': 0.01},
 0.8451446864603603)

### Learning Rate 감소

In [90]:
predictors = [x for x in train.columns if x not in [target, IDcol]]
xgb1 = XGBClassifier(
    learning_rate =0.01,
    n_estimators=5000,
    max_depth=3,
    min_child_weight=5,
    gamma=0,
    reg_alpha=1e-05,
    subsample=0.67,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread=-1,
    scale_pos_weight=1,
    seed=2019
)
modelfit(xgb1, train, predictors)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.8, gamma=0,
              learning_rate=0.01, max_delta_step=0, max_depth=3,
              min_child_weight=5, missing=None, n_estimators=35, n_jobs=1,
              nthread=-1, objective='binary:logistic', random_state=0,
              reg_alpha=1e-05, reg_lambda=1, scale_pos_weight=1, seed=2019,
              silent=None, subsample=0.67, verbosity=1)

Model Report
Training Accuracy : 0.8305

# 6.1.6 신경망의 매개변수와 튜닝

## 1. 네트워크 구성
- hidden layer의 활성화 함수 : 'ReLU'가 1순위로 사용되고, 'PReLU', 'LeakyReLU'도 쓰임
- hidden layer의 층수
- 각 layer 유닛 수, Drop-out 비율
- Batch Normalization 적용 여부

## 2. Opitimizer 선택
옵티마이저(Optimizer)는 신경망의 가중치를 어떻게 학습할지에 관한 최적화 알고리즘


- Stochastic gradient descent(확률적 경사하강법), Adam(Adaptive moment estimation)을 주로 사용 (CS231n 7강 참고)
- 어떤 옵티마이저를 사용하더라도 학습률(Learning-rate) 중요한 매개변수가 될 수 있음
- 기타 : batch size 조정, weight decay(가중치 감소)와 같은 정규화 기법 도입

> __learning rate 크기에 따른 학습 loss함수 그래프 (CS231n 7강)__
>
> ![img1](http://aikorea.org/cs231n/assets/nn3/learningrates.jpeg)

## 3. 다층 퍼셉트론의 매개변수 튜닝 예시 (교재 P.346)

### 참고자료
- [[E11] 폐렴아 기다려라 - 우수 노드 선정(이강산님)](https://github.com/RestHope/AIFFEL/blob/main/e11_pneumonia.ipynb)

# 6.1.7 선형 모델의 매개변수와 튜닝
선형 모델은 정규화 매개변수가 튜닝 대상. 튜닝 대상의 매개변수가 적고 계산도 비교적 빠르므로 10배씩 조정한 간격을 범위로 조사할 수 있다.

### 참고자료
- [[G01] 어떤 예측 모형이 차량 수요 예측에 가장 적합할까? (비공개)](https://github.com/AIFFEL-GN-2nd/stevekhkim/blob/main/%5BG02%5D%20Forecasting_Carsharing_Demand.ipynb)

### Ridge

In [ ]:
from sklearn.linear_model import Ridge,RidgeCV,Lasso,LassoCV

In [ ]:
alpha_values_clean = [0.0001, 0.0005, 0.001, 0.002, 0.003, 0.004, 0.005, 0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
ridge_op_rate_cv_clean = RidgeCV(alphas=alpha_values_clean, cv=5).fit(x_train, y_train.values.ravel())

print(ridge_op_rate_cv_clean.alpha_)

### Lasso

In [ ]:

alpha_values = [0.0001, 0.0005, 0.001, 0.002, 0.003, 0.004, 0.005, 0.01, 0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
lasso_op_rate_cv = LassoCV(alphas=alpha_values, cv=5).fit(x_train, y_train.values.ravel())

print(lasso_op_rate_cv.alpha_)